/vendor/
node_modules/
.env
.env.*
.DS_Store
Thumbs.db
*.log
*.cache
*.tmp
.idea/
.vscode/
*.sqlite
*.sqlite3
/public/storage
/storage/*.key
/storage/logs/
composer.lock
package-lock.json
npm-debug.log
yarn-error.log
/build/
/dist/
/coverage/
/*.iml
*.swp
*.swo
*.bak
*.old
*.orig
*.gz
*.zip
*.tar
*.tgz
*.7z
*.rar
